.msgItemBot {
  max-width: 90vw;
  display: flex;
  padding: 15px 0;
  overflow-x: scroll;
  .avatar {
    margin: 0 10px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
  }
  .msg {
    .voiceIcon {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: green;
      background: #ebebeb;
      border-radius: 100%;
      font-size: 20px;
    }
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    word-break: break-all;
    text-align: left;
    > p {
      margin: 0;
      > ol {
        > li {
          margin-left: 20px;
        }
      }
    }
  }
}
