* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.Container {
    width: 100vw;
    height: 100vh;
    background-color: #ebebeb;
    position: relative;
    padding: 40px 0 80px;
    box-sizing: border-box;
    overflow-y: scroll;
    .inputBox {
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 1;
        width: 100vw;
        background-color: #ccc;
        left: 0;
        bottom: 0px;
        padding: 10px 10px;
        box-sizing: border-box;
        .ipt {
            text-align: left;
            cursor: text;
            background-color: #fff;
            outline: 0;
            line-height: 1.4;
            min-height: 25.2px;
            max-height: 60vh;
            flex: 1;
            border: 1px solid pink;
            border-radius: 10px;
            padding: 2px 8px;
            font-size: 18px;
            overflow: hidden auto;
        }
        .btnSend {
            padding: 0 8px;
            background-color: pink;
            color: black;
            margin-left: 6px;
            border-radius: 10px;
            align-self: stretch;
            display: inline-flex;
            align-items: center;
        }
    }
    .btnVoice {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #fff;
        background: rgba($color: #fff, $alpha: .9);
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 80px;
        box-shadow: 0px 0px 4px 1px #1f440d59;
        .scale {
            scale: 1.5;
        }
        .greenColor {
            color: green;
        }
    }
    .systemTip {
        width: 100vw;
        height: 20px;
        background-color: #f1f1ba;
        position: fixed;
        left: 0;
        bottom: 60px;
        text-align: left;
        padding: 0 10px;
        box-sizing: border-box;
        color: #7e7979;
    }
}